<h1>Subjects</h1>
<ul>
    <li>
        Name: <%= @subject.name %>
    </li>
    <li>
        Position: <%= @subject.position %>
    </li>
    <li>
        Visible: <%= @subject.visible %>
    </li>
    <li>
        Created On: <%= @subject.created_at %>
    </li>
</ul>
<div>
<%= link_to("Edit Subject", edit_subject_url) %>
</div>
<div>
<%= link_to("Delete Subject", subject_path(@subject), method: :destroy, data: {confirm: "Are you sure?"}) %>
</div>
<div>
<%= link_to("Back to Subjects", subjects_index_url) %>
</div>